[Unit]
Description=Fan control
After=network.target

[Service]
ExecStart=/usr/bin/python2.7 /home/pi/dotfiles/raspberry_pi_2/fan/fan_control.py
Restart=on-abort

[Install]
WantedBy=multi-user.target