*.log
*.db
*.db-shm
*.db-wal
*.save
secrets.yaml
.HA_VERSION
.google_maps_location_sharing.cookies.homeassistant753_gmail_com
tts
deps
core
.vscode
.cloud
/.storage/*
!/.storage/lovelace
harmony_harmony_hub.conf

