/keys/
/log/
/nginx/
/organizr/
/php/

/www/*
!/www/Dashboard/**/
/www/Dashboard/*
!/www/Dashboard/api/**/
/www/Dashboard/api/*
!/www/Dashboard/api/config/**/
/www/Dashboard/api/config/*
!/www/Dashboard/api/config/config.php

!/www/db/db.db