[Unit]
Description=Borg Backup Timer
Requires=borg.backup.timer

[Timer]
Unit=borg.backup.service
# 2 hours after boot, then every 2 hours
OnBootSec=2hours
OnUnitActiveSec=2hours

[Install]
WantedBy=timers.target
